.nav-item {
    color: '#fff';
    margin: 8px;
    position: relative;
    padding-bottom: 10px;
}

.nav-item ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orangered;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav-item:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.btn {
    border-radius: 20px !important;
    background-color: blueviolet !important;
    padding: 2%;
}

.anc :hover {
    text-decoration: none;
}

.hero-image {
    background: url('../rsc/123091.jpg') no-repeat center fixed;
    background-size: cover;
    width: 100%;
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a :hover {
    color: orangered;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: orangered;
}

.background {
    background: blueviolet;
}

.text-branding {
    color: blueviolet;
}

.landing-about-marg {
    padding-top: 3em;
    padding-bottom: 2em;
}

.shadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow:before,
.shadow:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.mission-list-items {
    margin-top: 5%;
}

.image-width {
    border: 15px solid #fff;
}

.carousel .carousel-control:hover::before {
    color: red !important;
}

.carousel .carousel-control:hover::after {
    color: red !important;
}

.blog-shadow {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.footerfancyBorder {
    border-bottom: 2px solid orangered;
    margin-left: 10%;
    margin-bottom: 5%;
}

.footerfancysideborder {
    border-left: 2px solid orangered;
    padding-left: 5%;
    margin-bottom: 5%;
    margin-left: -5%;
}

.grad {
    background-image: gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}

.nav-img {
    width: '12%';
}

@media only screen and (min-width: 800px) {
    .nav-img {
        width: 25%;
    }
}

//ADDED STYLES

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.missionSate {
    &__img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }
}

.section {
    &__center {
        display: grid;
        align-content: center;
        row-gap: 2rem;
    }

    &__btn {
        justify-self: center;
    }
}

.hero {
    &__carousel {
        padding-top: 12%;
        padding-bottom: 10%;

        @include respond(phone) {
            padding-top: 40%;
            height: 92vh;
        }
        @include respond(smaller-phone) {
            padding-top: 45%;
        }
        @include respond(smallest-phone) {
            padding-top: 30%;
            height: 91vh;
        }
    }
}

.carousel-control__prev,
.carousel-control__next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.carousel-control__next {
    right: 0;

    @include respond(smaller-phone) {
        padding-left: 2rem;
    }
}
.carousel-control__prev {
    @include respond(smaller-phone) {
        padding-right: 2rem;
    }
}

.testimonial-quote {
    background: goldenrod;
    border-radius: 50%;
    margin: 0 auto;
    width: fit-content;

    &__item {
        margin: 1rem;
        color: #fff;
    }
}


